.letras__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;   
    margin-bottom: 20px;
}

.letras__linea{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3px;
    height: auto;
    margin-top: 5px;
}

.container__letras--button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 45px;
    font-size: 1.9rem;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #000;
    box-shadow: -1px 1px 5px 0 #000000c9;
    user-select: none;
    transition: all .5s;    
    background-color: white;
}


.letras__button--done{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    font-size: 1.7rem;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #000;
    box-shadow: -1px 1px 5px 0 #000000c9;
    user-select: none;
    transition: all .5s;
    background-color: green;
    color: #fff;
    font-weight: 700;
}

.letras__button--borrar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    font-size: 1.7rem;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #000;
    box-shadow: -1px 1px 5px 0 #000000c9;
    user-select: none;
    transition: all .5s;
    background-color: red;
    color: #fff;
    font-weight: 700;
}

.letra__no--disponible{
    background-color: rgb(112, 112, 112);
}
.letra__disponible{
    background-color: orange;
}
.letra__correcta{
    background-color: rgb(0, 161, 0);
}



@media (min-width: 410px) {
    .letras__container{ 
        margin-bottom: 15px;
    }
    .container__letras--button{
        width: 45px;
        height: 55px;
        border-radius: 8px;
    }
    .letras__button--done{
        width: 50px;
        height: 55px;
        border-radius: 10px;
    }
    .letras__button--borrar{
        width: 50px;
        height: 55px;
        border-radius: 10px;
    }
}



@media (min-width: 710px) {
    .letras__container{ 
        margin-bottom: 10px;
    }
    .letras__linea{
        gap: 5px;
    }

    .container__letras--button{
        width: 55px;
        height: 55px;
        border-radius: 10px;
    }
    .letras__button--done{
        width: 75px;
        height: 55px;
    }
    .letras__button--borrar{
        width: 75px;
        height: 55px;
    }
}