/*Variables de los colores*/
:root{
    /*Colores claros para el modo claro*/
    --Primer-Color-Claro: #F5F5F5;
    --Segundo-Color-Claro: #E0E0E0;
    --Tercer-Color-Claro: #D8D8D8;
    --Cuarto-Color-Claro: #BDBDBD;
    --Quinto-Color-Claro: #9E9E9E;

    /*Colores oscuros para el modo oscuro*/
    --Primer-Color-Oscuro: #00191A;
    --Segundo-Color-Oscuro: #212121;
    --Tercer-Color-Oscuro: #616161;
    --Cuarto-Color-Oscuro: #757575;
    --Quinto-Color-Oscuro: #9E9E9E;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: sans-serif, Arial, Helvetica;
}

body{
    width: 100%;
    height: 100vh;
    min-height: 570px;
    transition: all 0.5s;
}

#app{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}